scripts/utils/*.json
scripts/server/process-cancellations/*.json
scripts/server/process-backups/*.json
scripts/server/.env*
scripts/server/traefik-netbird-config/.venv
scripts/server/traefik-netbird-config/src/__pycache__
scripts/server/traefik-netbird-config/.env
.gitignore.*
